@model DBAccess.Models.Character
@{
    ViewData["Title"] = "Add Character";
}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body class="text-center" data-new-gr-c-s-check-loaded="14.1060.0" data-gr-ext-installed="">
    
    <div class="row py-5 px-4">
        <div class="col-md-5 mx-auto"> 
            <div class="bg-white shadow rounded overflow-hidden"> 

                <div class="px-4 py-5 my-5 text-center">
    <img class="rounded-circle" src=@Model.imageLink alt="" width="200" height="200">
    <h1 class="display-5 fw-bold">@Model.firstName @Model.lastName</h1>
     </div>

                      <div class="bg-light p-4 d-flex justify-content-end text-center">
                        <ul class="list-inline mb-0"> 

                         <li class="list-inline-item">
                          <h5 class="font-weight-bold mb-0 d-block">@Model.charisma</h5>
                            <small class="text-muted"> 
                              <i class="fas fa-image mr-1"></i>Charisma</small>
                          </li>

                          <li class="list-inline-item"> 
                            <h5 class="font-weight-bold mb-0 d-block">@Model.dexterity</h5>
                              <small class="text-muted"> 
                                <i class="fas fa-user mr-1"></i>Dexterity</small> 
                            </li>
                            
                         <li class="list-inline-item"> 
                            <h5 class="font-weight-bold mb-0 d-block">@Model.wisdom</h5>
                              <small class="text-muted"> 
                                <i class="fas fa-user mr-1"></i>Wisdom</small> 
                            </li>
                             <li class="list-inline-item"> 
                            <h5 class="font-weight-bold mb-0 d-block">@Model.strength</h5>
                              <small class="text-muted"> 
                                <i class="fas fa-user mr-1"></i>Strength</small> 
                            </li>
                             <li class="list-inline-item"> 
                            <h5 class="font-weight-bold mb-0 d-block">@Model.intellect</h5>
                              <small class="text-muted"> 
                                <i class="fas fa-user mr-1"></i>Intellect</small> 
                            </li>
                        </ul></div> 

                                 <div class="px-4 py-3">
                                     <h5 class="mb-0">About</h5> <div class="p-4 rounded shadow-sm bg-light"> 
                                         <p class="font-italic mb-0">@Model.bio</p> 
                                        
                                         </div></div> </div> </div> 
</div>

</body>
</html>

